# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]

# Chroma Database
chroma-db/
Document loaders/
retrievers/
Vector store/

# Uploaded PDFs
uploads/

# VS Code
.vscode/

# Cache
.cache/
.pytest_cache/

# OS Files
.DS_Store
Thumbs.db