langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-mistralai
langchain-huggingface
langchain-chroma
mistralai
sentence-transformers
chromadb
pypdf
python-dotenv
streamlit
pydantic
numpy
tqdm